<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Menu</title>
</head>
<body>
<form method = "post">
    <label>Dishes:</label>
    <input name = "name"/>
    <label>Prices:</label>
    <input name = "price"/>
    <p><input type = "submit" value="Submit"></p>
</form>   
    {% for v in data %}
    <p>{{v.name}} = {{v.price}}</p>
    {% endfor %}
</html>