<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    span{
        font-size: 18px;
        font-weight: bold;
    }
    </style>
</head>
<body>
    <p><span>Name:</span> {{data.Name}}</p>
    <p><span>Work:</span> {{data.Work}}</p>
    <p><span>School:</span> {{data.School}}</p>
    <p><span>Hobbies:</span> {{data.Hobbies}}</p>
    <img src="https://resources.mindx.edu.vn/uploads/images/Doi-ten.jpg">
</body>

</html>